* {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat';
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	height: 100%;
	min-width: 500px;
	background-color: #FFF4E0;
	padding-top: 20px;
	padding-bottom: 50px;
}

h1 {
	font-weight: bold;
	text-align: center;
}

.score-section {
	display: flex;
	gap: 25px;
	justify-content: center;
	align-content: center;
	margin-bottom: 5px;
}

.score-box {
	background-color: #FFF;
	padding: 10px;
	margin-left: 5px;
	margin-right: 15px;
	border: 5px solid black;
	border-radius: 12px;
	box-shadow: 5px 5px black;
}

.buttons {
	margin-top: 10px;
	display: flex;
	gap: 20px;
	justify-content: space-evenly;
}

.reset-button {
	background: black;
	border-radius: 12px;
	border: none;
	padding: 0;
	padding-right: 6px;
	cursor: pointer;
	flex: 1;
}

.toggle-play-button {
	background: black;
	border-radius: 12px;
	border: none;
	padding: 0;
	cursor: pointer;
	padding-right: 6px;
	flex: 1;
}

.play-front {
	display: block;
	border: 5px solid black;
	font-weight: bold;
	padding: 6px 11px;
	border-radius: 12px;
	font-size: 1.25rem;
	color: black;
	background-color: #FD9745;
	transform: translateY(-6px);
	/* These are new, this is how I get the span to fill the button div */
	height: 100%;
	width: 100%;
}

.reset-front {
	display: block;
	padding: 12px 22px;
	border: 5px solid black;
	border-radius: 12px;
	font-size: 1.25rem;
	color: black;
	font-weight: bold;
	background-color: #FD9745;
	transform: translateY(-6px);

}

.toggle-play-button:active .play-front,
.reset-button:active .reset-front {
	transform: translateY(-2px);
	transform: translateX(3px);
}

.tetris-board {
	background-color: #FD9745;
	flex-grow: 1;
	border: 5px solid black;
	border-radius: 12px;
	box-shadow: 5px 5px black;
}


h2 {
	margin-top: auto;
	margin-bottom: auto;
}

.tetris-block {
	width: 100%;
	padding: 40%;
	border: 2px solid black;
	border-radius: 5px;
	background-color: #FFF4E0;
}

ul {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(20, 1fr);
	padding: 10px;
}

.body {
	margin-top: auto;
	margin-bottom: auto;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

/* I was fighting a loosing 
* battle with the css, so
* I opted to just use a media
* query for phone use
*/
@media (max-width: 985px) {
	.body {
		width: 80%;
	}

	html,
	body {
		overflow: hidden;
	}

	body {
		position: relative;
		touch-action: manipulation;
		-webkit-user-select: none;
		user-select: none;
	}

	.toggle-play-button,
	.reset-button {
		padding-right: 12px;
		padding-bottom: 6px;
	}

	.reset-front,
	.play-front {
		font-size: 4rem;
		border-width: 10px;
		border-radius: 15px;
	}

	.toggle-play-button:active .play-front,
	.reset-button:active .reset-front {
		transform: translateY(-4px);
		transform: translateX(4px);
	}

	.score-section {
		font-size: 3rem;
	}

	h1 {
		font-size: 5rem;
	}

	.tetris-block {
		border-radius: 12px;
		border-width: 4px;
	}

	.score-box,
	.tetris-board {
		border-width: 12px;
		box-shadow: 15px 15px black;
	}

	.tetris-board {
		margin-bottom: 40px;
		margin-top: 30px;
	}

	.play-front>img {
		width: 18%;
		height: 100%;
	}

}

/* these prevent chrome from highlighting any of the buttons after clicking them, this only happens in chrome, not safari */
button:focus {
	outline: none;
}

button::-moz-focus-inner {
	border: 0;
}

button {
	-webkit-tap-highlight-color: transparent;
}
